<footer>

	<div class="content-padding">
		<div class="footer-content">

			<p>Copyright &copy; 2017 Sahana Balram</p>

			<div class="social-media-icons">
				<a href="#"><i class="fa fa-subway"></i></a>
				<a href="#"><i class="fa fa-snowflake-o"></i></a>
			</div>

		</div>
	</div>
</footer>